{{ define "main" }}

<div class="ph3 bg-off-white">
	<div class="center mw6 pv3">

		<img src="{{ .Params.logo }}" alt="" class="db w4 center pv4">

		{{ .Content }}

		<div class="flex-ns mb3">
	        	{{ range .Params.contact_entries }}
				<div>
					<h4 class="f4 b lh-title mb2 primary">{{ .heading }}</h4>
					<p>{{ .text }}</p>
				</div>
			{{ end }}
		</div>

		{{ partial "contact-form" . }}

		<form action="https://formspree.io/f/mvovbzjq" method="POST">

    <input type="hidden" name="_next" value="https://talianifitness.netlify.app/contact/"/>

<!--This html code is the creation of a formspree form and is user-friendly-->

		<h1>Contact us for a personalized fitness plan!</h1> <br>

		<h2>Please enter your name.</h2>
    <label>Name?</label> <input type="text" name="name"> <br> <br>

		<h2>Please enter your e-mail address.</h2>
    <label>Weight?</label> <input type="email" name="_replyto"> <br> <br>

		<h2>Do you need help regarding exercise or diet?</h2>
    <input type="radio" name="answer" value="exercise"> Exercise <br>
		<input type="radio" name="answer" value="diet"> Diet <br>
		<input type="radio" name="answer" value="both"> Both <br> <br>

		<h2>Would you like to speak directly to a representative on the phone?</h2>
    <input type="radio" name="answer" value="yes"> Yes <br>
		<input type="radio" name="answer" value="no"> No <br> <br>

    <h1>Please enter any additional information that could help Taliani Fitness prescribe a fitness plan for you.</h1> <br>
    <textarea rows="3" cols="80" name="story"> More information here . . . </textarea> <br>

    <br> <label> Submit! </label>
    <input type ="submit" value="Submit"> </form>

	</div>
</div>

{{ end }}
