{{ define "main" }}

<div class="ph3 bg-off-white">
	<div class="center mw6 pv3">

		<img src="{{ .Params.logo }}" alt="" class="db w4 center pv4">

		{{ .Content }}

		<div class="flex-ns mb3">
	        	{{ range .Params.contact_entries }}
				<div>
					<h4 class="f4 b lh-title mb2 primary">{{ .heading }}</h4>
					<p>{{ .text }}</p>
				</div>
			{{ end }}
		</div>

		{{ partial "contact-form" . }}
		<form action="https://formspree.io/talianin@allegheny.edu" method="POST">

    <input type="hidden" name="_next" value="http://localhost:8000/"/>

    <label>Name</label> <input type="text" name="name"> <br>
    <label>Email</label> <input type="email" name="_replyto"> <br> <br>
    <label>What is your preferred city?</label> <input type="text" name="name"> <br> <br>
    <label>What is your favorite continent? </label> <br>
    <input type="radio" name="continent" value="north america"> North America <br>
    <input type="radio" name="continent" value="south america"> South America <br>
    <input type="radio" name="continent" value="europe"> Europe <br>
    <input type="radio" name="continent" value="africa"> Africa <br>
    <input type="radio" name="continent" value="antarctica"> Antarctica<br>
    <input type="radio" name="continent" value="asia"> Asia <br>
    <input type="radio" name="continent" value="australia"> Australia <br> <br>

    <label>What country would you like to visit? </label> <br>
    <input type="checkbox" name="country" value="canada"> Canada <br>
    <input type="checkbox" name="country" value="france"> France <br>
    <input type="checkbox" name="country" value="india"> India <br>
    <input type="checkbox" name="country" value="cambodia"> Cambodia <br>
    <input type="checkbox" name="country" value="germany"> Germany <br> <br>

    <label>What is your travel story? </label>
    <textarea rows="3" cols="80" name="story"> Share your travel story </textarea> <br>

    <br> <label> Share Your Views! </label>
    <input type ="submit" value="Submit"> </form>

	</div>
</div>

{{ end }}
